body{
background-color: lightblue;
color: rgb(255, 255, 255);
}


nav {
text-align: center;
}


nav a{
color: white;
text-decoration: none;
}

div{
    text-align: center;
}

div img{
width: 820px;
height: 450px;
}